@import "./settings/variables";
@import "./settings/mixins";

.cart-sidebar-discount {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
}

.cart-sidebar-discount__input {
  width: 100%;
}

.cart-sidebar-discount input {
    padding: 14px 24px;
    border-radius: 100px;
    background: $white-400;
    border: 1px solid $white-500;
    font-size: 18px;
    text-transform: uppercase;
    height:50px;
    width: 100%;
    outline: none;
    text-align: center;
    letter-spacing: .2em;

    @include media-breakpoint-down(sm){
      font-size: 16px;
    } 
}

  span.applied-discount-code-value>small {
    background: #eee;
    padding: 0px 10px;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
  }

  .loader {
    border: 5px solid #F3F3F3;
    border-top: 4px solid #000;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin .5s linear infinite;
  }

  #discount-code-error {
    background: #ff00004f;
    color: #E22120;
    padding: 5px;
    border-radius: 4px;
    font-size: 10px;
    line-height: 1;
    margin-top: 10px;
    display: inline-block;
  }

  .applied-discount-code-wrapper {
    display: none;
    position: relative;
    width: fit-content;
  }

  #clear-discount-btn {
    position: absolute;
    top: 13px;
    right: 4px;
  }

  .applied-discount-code {
    display: block;
  }

  .applied-discount-code-value {
    font-size: 13px;
    display: inline-block;
    text-transform: uppercase;
    background: $white-400;
    border-radius: 25px;
    padding: 3px 25px 3px 6px;
    margin-top: 10px;
  }

  #apply-discount-btn {
    width: 164px;
    min-width: 164px;
    @include media-breakpoint-down(sm){
      width: fit-content;
      min-width: fit-content;
    } 
  }

  #discount-code-error:empty {
    display: none;
  }
  .applied-discount-code-value:empty+button {
    display: none;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }