@import "./settings/variables";
@import "./settings/mixins";

.template-404 {
    position: relative;
    // .template-404__background

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 100%;

        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .template-404__heading-xh

    &__heading-xh {
        font-size: clamp(32px, size(80px), 80px);
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: .02em;
        text-transform: uppercase;
        color: $white;
        margin-top: 0;
        padding-bottom: 40px;
        border-bottom: 1px solid $white;
        margin-bottom: 40px;
        @include media-breakpoint-down(lg){
            padding-bottom: 32px;
            margin-bottom: 24px;
        }
    }

    // .template-404__subtext

    &__subtext {
        color: $white;
        font-size: clamp(20px, size(24px), 24px);
        font-style: normal;
        font-weight: 400;
        line-height: 140%; 
        margin-bottom: 32px;

        @include media-breakpoint-down(lg){
           margin-bottom: 26px;
        }
    }

    // .template-404__content

    &__content {
        padding-top: 241px;
        @include media-breakpoint-down(lg){
            padding-top: 88px;
        }
    }

    // .template-404__cards 

    &__cards {
        padding: 80px 0;
        .info--cards__list {
            .info--cards__item {
                width: 100%;
                background-color: $white;
                @include media-breakpoint-down(xl){
                    margin: 0;
                    &:not(:last-child){
                        margin: 0 0 32px !important;
                    }
                }
            }
        }

        .info--cards__wrapper {
            padding-left: 0;
            padding-right: 0;
        }

        .info--cards__item--description {
            color: $white-900;
        }
    }

    .btn {
        @include media-breakpoint-down(md){
           height: 47px;
        }
    }
}

.template-404 {
    height: 100%;
}

