@import "./settings/variables";
@import "./settings/mixins";

.reset-password {
    // .reset-password__wrapper

	&__wrapper {
        position: relative;
        min-height: 847px;
        height: 100%;
        overflow: hidden;

        @include media-breakpoint-down(md){
            min-height: fit-content;
        }
    }

    // .reset-password__form
    &__form {
        @include media-breakpoint-down(md){
            margin-bottom: 47px;
        }

    .field {
        margin: 16px 0 0 0;
        flex-wrap: wrap;
        input {
            border-radius: 0;
            border-bottom: 1px solid #3D3D3D;
            background-color: transparent;
            padding: 20px 20px 12px 0;
            height: 58px;
            &:focus,
            &:not(:placeholder-shown),
            &:-webkit-autofill {
                border-bottom: 1px solid $white-900;
                -webkit-box-shadow: 0 0 0px 1000px $white inset;
            }

            &::placeholder {
                color: transparent;
            }
        }

        &::after {
            border-radius: 0;
            border: none;
        }

        label {
            left: 0;
            top: 21px;
            font-size: 16px;
            color: $white-800;
        }

        .delete-text {
            position: absolute;
            cursor: pointer;
            top: 25px;
            right: 0;
            display: none;
        }
    }

    .field input:focus,
    .field input:not(:placeholder-shown),
    .field input:-webkit-autofill {

        & ~ label {
            left: 0;
            top: 0;
            font-size: 12px;
        }

        & ~ .delete-text {
            display: block;
        }
    }

    .reset-password__submit-btn {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;

        .btn {
            @include media-breakpoint-down(md){
                font-size: 16px;
                height: 47px;
            }
        }
       }
    }

    .reset-password__errors {
        li {
            list-style-type: none;
            margin-left: 25px;
            margin-top: 10px;
            a {
                color: $white-900;
                text-decoration: none;
                font-size: 14px;
            }
        }
    }

    #password-error {
        font-size: 14px;
        margin-top: 10px;
        color: $white-900;
    }

    // .reset-password__form-content

    &__form-content {
        max-width: 496px;
        padding-top: 140px;
        @include media-breakpoint-down(big-xl){
            max-width: 424px;
        }

        @include media-breakpoint-down(md){
            max-width: 100%;
            width: 100%;
            padding-top: 88px;
        }
    }

    // .reset-password__media

	&__media {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 49.2vw;

        @include media-breakpoint-down(big-xl){
            width: 43.4vw;
        }

        @include media-breakpoint-down(xxxl){
            width: 32.22vw;
        }

        @include media-breakpoint-down(md){
            position: unset;
            width: 100%;
        }
	}

	// .reset-password__media-content

    &__media-content {
        height: 100%;
        @include media-breakpoint-down(md){
            aspect-ratio: 375/302;
            overflow: hidden;
        }
        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        svg {
            height: 100%;
        }
         
    }
}