@import './settings/variables';
@import './settings/mixins';

.trending-articles {
    padding: 120px 0 123px;
    @include media-breakpoint-down(big-xl) {
        padding: 80px 0 83px;
    }

    @include media-breakpoint-down(md) {
        padding: 80px 0;
    }
   
    // .trending-articles__heading 

    &__heading {
        margin-bottom: 32px;
        @include media-breakpoint-down(md) {
            margin-bottom: 16px;
        }
    }
        
    // .trending-articles__content

    &__content {
        display: flex;
        gap: 32px;

        @include media-breakpoint-down(xl){
            gap: 24px;
        }

        @include media-breakpoint-down(md) {
           flex-direction: column;
           gap: 16px;
        }
    }

    // .trending-articles__main

    &__main {
        width: 65.9%;
        @include media-breakpoint-down(xl){
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        @include media-breakpoint-down(md) {
           width: 100%;
        }

        .trending-articles__article{
            max-width: 861px;
            @include media-breakpoint-down(md) {
                max-width: 100%;
            }
            .trending-articles__article-img {
                aspect-ratio: 868/803;
                @include media-breakpoint-down(md) {
                    aspect-ratio: 343/316;
                }
                overflow: hidden;
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
       
        .trending-articles__overflow-content {
            padding: 43px 32px;
            @include media-breakpoint-down(md) {
                padding: 16px;
            }
        }
    }

    // .trending-articles__secondary

    &__secondary {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: calc((100% - 65.9%) - 32px);
        @include media-breakpoint-down(xl){
            width: calc((100% - 65.9%) - 24px);
            gap: 24px;
        }

        @include media-breakpoint-down(md) {
            width: 100%;
            gap: 16px;
        }

        .trending-articles__article {
            .trending-articles__article-img {
                overflow: hidden;
                aspect-ratio: 416/431;

                @include media-breakpoint-down(md) {
                    aspect-ratio: 343/249;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .trending-articles__overflow-content {
            padding: 29px 32px;
            @include media-breakpoint-down(md) {
                padding: 16px;
            }
        }

        @include media-breakpoint-down(xl) {
            .trending-articles__article {
                height: calc(50% - 12px);
                .trending-articles__article-img {
                    aspect-ratio: unset;
                    height: 100%;
                }
            }
        }

        @include media-breakpoint-down(md) {
            .trending-articles__article {
                .trending-articles__article-img {
                    aspect-ratio: 343/249;
                }
            }
        }

    }

    // .trending-articles__article

    &__article {
        position: relative;
        min-width: 100%;
    }

    // .trending-articles__overflow

    &__overflow {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: var(--effect-gradient-image, linear-gradient(0deg, rgba(0, 0, 0, 0.80) -28.83%, rgba(0, 0, 0, 0.00) 41.67%));
        z-index: 2;
        display: block;
    }

    // .trending-articles__overflow-content

    &__overflow-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: 3;
        h2,
        h3 {
            color: $white;
        }

        a {
            color: $white;
        }
    }

    // .trending-articles__read-more

    &__read-more {
        margin-top: 16px;
    }
}


