@import "./settings/variables";
@import "./settings/mixins";

.waitlist-pop-up {
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 18;

    &.pop-up-hidden {
        display: none;
    }

    .container {
        height: 100%;
        position: relative;
    }
    
    &__wrapper {
        width: 1024px;
        height: 528px;
        background-color: $white;
        border-radius: 40px;
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        border: 1px solid $white-900;

        @include media-breakpoint-down(xl) {
            width: calc(100% - 80px);
        }
        @include media-breakpoint-down(lg) {
            height: 428px;
        }
        @include media-breakpoint-down(md) {
            width: calc(100% - 36px);
            flex-direction: column;
            height: fit-content;
        }
    }

    // .waitlist-pop-up__content

    &__content {
        padding-left: 80px;
        padding-right: 55px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(100% - 432px);
        @include media-breakpoint-down(xl) {
            padding-left: 40px;
            padding-right: 40px;
        }
        @include media-breakpoint-down(lg) {
            width: calc(100% - 332px);
        }
        @include media-breakpoint-down(md) {
            width: 100%;
            padding: 56px 24px 24px;
        }

        h2 {
            margin-bottom: 16px;
            @include media-breakpoint-down(md) {
               margin-bottom: 4px;
            }
        }

        p {
            margin: 0 0 48px;
            color: $white-900;
            @include media-breakpoint-down(md) {
                font-size: 14px;
                margin: 0 0 16px;
            }
        }
    }

    // .waitlist-pop-up__image

    &__image {
        aspect-ratio: 432/528;
        overflow: hidden;
        width: 432px;
        @include media-breakpoint-down(lg) {
            width: 332px;
        }
        @include media-breakpoint-down(md) {
            width: 100%;
            aspect-ratio: 342/266;
            max-height: 390px;
        }
        svg {
            height: 100%;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    // .waitlist-pop-up__close

    &__close {
        position: absolute;
        top: 40px;
        right: 40px;
        cursor: pointer;
        @include media-breakpoint-down(lg) {
            top: 30px;
            right: 30px;
        }
        @include media-breakpoint-down(md) {
            top: 16px;
            right: 16px;
        }
    }

    .klaviyo-form__styling {
        display: flex;
        gap: 24px;
        width: 100%;
        @include media-breakpoint-down(xl) {
            flex-direction: column;
            gap: 16px;
        }

        .klaviyo-form__email {
            width: 100%;
            position: relative;
        }

        .email-capture__input {
            height: 54px;
            max-width: 100%;
            width: 100%;
            border-bottom: 1px solid $white-800;
            padding: 20px 0 12px;
            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0px 1000px $white inset;
            }
            &::placeholder {
                color: transparent;
            }

            &:not(:placeholder-shown) + label{
                top: 0;
                font-size: 12px;
                & ~ .delete-text {
                    display: block;
                }
            }
        }

        .delete-text {
            position: absolute;
            cursor: pointer;
            top: 25px;
            right: 0;
            display: none;
        }

        .klaviyo-form__button {
            white-space: nowrap;
            top: 4px;
            @include media-breakpoint-down(xl) {
                top: 0;
            }
        }

        .email-capture__label {
            position: absolute;
            top: 22px;
            left: 0;
            color: $white-800;
            clip: unset;
            overflow: visible;
        }

        .error_message,
        .error_message {
            margin-top: 5px;
        }

        .klaviyo_messages {
            font-size: 12px;
            margin-top: 5px;
        }
    }

    .klaviyo-form__text {
        font-size: 12px;
        color: $white-700;
        margin-top: 12px;
        line-height: 2;
        @include media-breakpoint-down(md) {
            margin-top: 16px;
        }
    }
}
