@import "./variables";


.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: fit-content;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 120%;
  text-decoration: none;
  transition: all $duration-default;
  border-radius: 100px;
  border: 1px solid $black;
  letter-spacing: .16em;
  position: relative;

  &.btn--large {
    height: 50px;
    padding: 14px 24px;
    font-size: 18px;
  }

  &.btn--small {
    height: 38px;
    padding: 9.5px 24px;
    font-size: 16px;
    &:focus {
      border: 1px solid $black;
    }
  }
  &::after {
    content: " ";
    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border-radius: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px dashed $black;
    transition: all $duration-default;
    opacity: 0;
  }

  &.btn--filled {
    background-color: $black;
    color: $white;

    &.disabled,
    &[disabled] {
      background: $silver;
      border: 1px solid $silver;
      color: white;
      cursor: not-allowed;
      &:hover,
      &:focus,
      &:active {
        background: $silver;
        border: 1px solid $silver;
        color: white;
      }
    }
  }

  &.btn--subtle {
    background-color: $white;
    color: $black;

    &.disabled,
    &[disabled] {
      border: 1px solid $silver;
      color: $silver;
      cursor: not-allowed;
      &:hover,
      &:focus,
      &:active {
        background-color: $white;
        border: 1px solid $silver;
        color: $silver;
      }
    }
  }

  &:hover {
    background-color: $coral-500;
    color: $black;
  }

	&:focus {
    border: 1px solid $coral-500;
    background-color: $coral-500;
    color: $black;
    &::after {
      opacity: 1;
    }
  }

	&:active {
		background-color: $coral-600;
	}

  &.btn--transparent {
    background-color: transparent;
    color: $black;
    border: 1px solid transparent;
 
    &:hover {
      background-color: $white-100;
    }
  
    &:focus {
      border: 1px solid transparent;
      background-color: transparent;
      color: $black;
      &::after {
        opacity: 1;
      }
    }
  
    &:active {
      background-color: $white-200;
    }
    
    &.disabled,
    &[disabled] {
      color: $silver;
      cursor: not-allowed;
      &:hover,
      &:focus,
      &:active {
        background-color: transparent;
        color: $silver;
      }
    }
  }
    &.animated {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      overflow: hidden;
      span {
          position: relative;
          pointer-events: none;
      }
      
      &::before {
        --size: 0;
        content: "";
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-transition: width 0.2s ease, height 0.2s ease;
        transition: width 0.2s ease, height 0.2s ease;
      }

      &:hover::before {
        --size: 400px;
      }

      &.animated--white {
        background-color: $white;
        color: $white-900;

        &::before {
          background: radial-gradient(circle closest-side, #F95123, transparent);
        }
      }

      &.animated--black {
        background-color: $white-900;
        color: $white;
        &::before {
          background: radial-gradient(circle closest-side, #F95123, transparent);
        }
      }

      &:focus {
        border: 1px solid $white-900;
        &::after {
          opacity: 1;
        }
      }

      &.disabled,
      &[disabled] {
        background-color: $silver;
        border: none;
        cursor: not-allowed;
        &:hover,
        &:focus,
        &:active {
          background-color: $silver;
        }
      }
  }
}
